name: CI-CD

on: [pull_request]
  
jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci 
      - name: Install optional dependencies
        run: npm install sass-embedded-linux-x64
      - name: Run linter and tests
        run: |
          npm run lint
          npm run test
